.conteiner {
  display: inline-block;
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
header {
 
}
.logo {
  height: 20px;
  float: left; 
  color:black;
  margin-top: 10px;
}
.main-meniu > .link {
  float:right;
  font-size: 15px;
  text-decoration: none;
  text-align: right;
  color: #55337A;
  margin-left: 30px;
  line-height: 30px;: 
  }
 
  /* MAIN */
 main {
  margin-top: 30px;
}
.left-column {
 width: 40%;
 float: left;
 margin-top: 100px;
 }
.main-title {
  font-weight: bold;
  font-size: 47px;
  margin-top: 0;
  margin-bottom: 0;
  color:black;
 }
 span {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
  }
hr {
  display: inline-block; 
  width: 90px; 
  margin-left: 10px;
  line-height: 100px;
  color: #55337A;
  border-width: 5px;
  border: solid;
  }
.text {
  display: inline-block;
  color: #55337A; 
  font-size: 14px;
  margin-top: 20px;
}
.right-column {
  display: inline-block;
  width: 59%;
  float: right;
  margin-right: 0;
  margin-top: 30px;
}
.btn {
  display: inline-block;
  border-radius: 40px;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border: 2px solid #55337A;
  text-transform: uppercase;
  margin-right: 10px;
  margin-top: 30px;
  text-decoration: none;
  background: #55337A; 
  color: #ffffff; 
 }

.btn.btn-white {
  background: #ffffff; 
  color: #55337A;
 }

 /* FOOTER */
 
footer {
  margin-top: 30px;
  }
.socials > .link {
  float: left;
  display: inline-block;
  padding: 15px;
  color: grey;
  text-decoration: none;
  }
.copyright {
  float: right;
  display: inline-block;
  font-size: 12px;
  }


