.conteiner {
  display: inline-block;
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  margin-bottom: 40px;
}
footer.conteiner {
  margin-bottom: 0;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
.logo {
  height: 20px;
  float: left; 
  color:black;
  margin-top: 10px;
}
.main-meniu > .link {
  float:right;
  font-size: 15px;
  text-decoration: none;
  text-align: right;
  color: #55337A;
  margin-left: 30px;
  line-height: 30px;: 
  }
 
  /* MAIN */
.left-column {
 width: 40%;
 float: left;
 margin-top: 100px;
 }
.main-title {
  font-weight: bold;
  font-size: 47px;
  margin-top: 0;
  margin-bottom: 0;
  color:black;
 }
 span {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
  }
.main-title > .line {
  height: 4px;
  width: 20%; 
  margin-left: 10px;
  background-color: #55337A;
  }
.description {
  display: inline-block;
  color: #55337A; 
  font-size: 14px;
  margin-top: 20px;
}
.right-column {
  width: 59%;
  float: right;
  margin-right: 0;
  margin-top: 20px;
  margin-right: -40px;
}
.btn {
  display: inline-block;
  border-radius: 1.57em;
  padding: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  border: 2px solid #55337A;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-decoration: none;
  background: #55337A; 
  color: #ffffff; 
 }
.btn:hover {
  background: #ffffff; 
  color: #55337A;
}
.btn.btn-white {
  background: #ffffff; 
  color: #55337A;
 }
.btn.btn-white:hover {
  background: #55337A; 
  color: #ffffff; 
 }

 /* FOOTER */
.socials > .link {
  float: left;
  height: 2em;
  width: 2em;
  font-size: 18px;
  text-align: center;
  line-height: 2em;
  color: #ccc;
  text-decoration: none;
}
.socials > .link:hover {
  background-color: #662c8c;
  color:#fff;
  border-radius: 50%;
}
.copyright {
  float: right;
  font-size: 12px;
}


