body {
  font-family: Arial
}
header {
  width: 800px;
  display: inline-block;
  margin-left: calc((100% - 800px) / 2);
}
main {
  width: 800px;
  display: inline-block;
  margin-left: calc((100% - 800px) / 2);
}

div {
 width: 46%;
 float: left;
 margin-left: 40px;
 margin-top: 60px;
}
div > a {
  margin-right: 20px; 
  padding: 15px;
}
img {
  width: 49%;
  float: right;
  margin-right: 0;

}
footer {
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
}

header > a {
  float: left;
  
}

header nav {
  float: right;
}

li {
  display: inline-block;
}
h1 {
  font-weight: normal;
  font-size: 40px;
  margin: 0;
  }
a {
  text-decoration: none;
}
