.conteiner {
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
}

body {
  font-family: Arial;
 
}

header {
  display:inline-block;
   
}
.logo {
  float:left; 
  color:black;
  padding-left: 0;
  margin-top: 10px;
}
.main-meniu > .link {
  float:right;
  font-size: 15px;
  text-decoration: none;
  text-align: right;
  color: #55337A;
  padding: 10px;
  }
 
 main {
  display: inline-block;
  margin-top: 30px;
}

div {
 width: 40%;
 float: left;
 margin-top: 50px;
 }
 h1 {
  font-weight: bold;
  font-size: 47px;
  margin-top: 0;
  margin-bottom: 0;
  color:black;
 }
 span {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
  }

hr {
  display: inline-block; 
  width: 90px; margin-bottom: 30px; 
  margin-left: 10px;
  line-height: 100px;
  color: #55337A;
  border-width: 5px;
  border: solid;
}
.text {
  color: #55337A; 
  font-size: 14px;
  margin: 3px;
}

.right-column {
  width: 59%;
  float: right;
  margin-right: 0;
  margin-top: 30px;
}
button{
  border-radius: 40px;
  padding: 11px 28px;
  border: 2px solid #55337A;
  margin-left: 0;
  float: left;
  text-transform: uppercase;
  margin-right: 10px;
 }
.button1{
  background: #55337A; 
  color: #ffffff; 
  
 }
.button2{
  background: #ffffff; 
  color: #55337A;
 }

 .socials {
  margin-top: 60px;
  
  }
.socials > .link {
  padding: 15px;
  color: grey;
  text-decoration: none;
  
  }
.copyright {
  
  font-size: 12px;
  }


